@import "../../../assets/styles/variables.scss";

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background-color: rgba(var(--color-primary), 0.2);
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .user-track {
    padding: 0px 50px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .d-block {
    display: block;
  }
}

.table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;

  .play {
    color: var(--text-color);
    font-size: 0.5rem;
  }

  .actual {
    background-color: var(--color-white);
    padding: 10px;
    box-shadow: 0px 0px 15px var(--color-transparent-30);

    td {
      color: var(--text-color);
    }
  }

  thead th {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--color-transparent-30);
  }

  th,
  td {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(1) {
      padding-left: 10px;
    }
  }

  tr {
    &:hover {
      cursor: pointer;

      td {
        color: var(--text-color);
      }
    }

    td {
      padding: 10px 20px 10px 0px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 0.85rem;
      color: var(--color-transparent-70);

      &:nth-child(1) {
        padding-left: 10px;
      }
    }
  }

  .w {
    @for $i from 1 to 10 {
      $width: $i * 5;
      &-#{ $width } {
        width: #{$width * 1%};
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    .image {
      height: 50px;
      width: 60px;
      padding-right: 10px;
    }
  }
}
