@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "/src/assets/styles/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.title {
  color: var(--text-color-secondary);
  display: block;
  font-weight: 700;

  &-bg {
    @extend .title;
    font-size: 2.2rem;
  }

  &-md {
    @extend .title;
    font-size: 1.4rem;
  }
}

.mt {
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{$i}vh;
    }
  }
}

.p-20 {
  padding: 20px;
}

.card {
  box-shadow: 0px 0px 15px var(--color-transparent-03);
  background-color: var(--color-white);
  border-radius: 10px;
}
