<div class="list mt-4">
  <app-banner [image]="bannerImageUrl" [title]="bannerText"></app-banner>

  <div class="title-bg mt-7">
    {{ title | slice:0:32 }}
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th class="w-5">#</th>
        <th class="w-35">Title</th>
        <th class="w-30">Artist</th>
        <th class="w-10 direita">Duration</th>
        <th class="w-20">Album</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let music of musics"
        (click)="executeMusic(music)"
        [class.actual]="music.id === actualMusic.id"
      >
        <td>
          <fa-icon class="play" [icon]="playIcon"></fa-icon>
        </td>
        <td>{{ music.title }}</td>
        <td>{{ getArtists(music) }}</td>
        <td class="duration">{{ music.duration }}</td>
        <td>{{ music.album.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
